.estimateNew .features-2,
.estimateNew .features-3 {
  padding: 40px 0 40px 0;
}

.estimateNew .features-2 h4 {
  margin-bottom: 13.33333333px;
}

.estimateNew .features-2 .row:first-of-type,
.estimateNew .features-3 .row:first-of-type {
  margin-bottom: 80px;
}

.estimateNew .features-2 img {
  display: inline-block;
  margin-bottom: 26.66666667px;
}

.estimateNew .features-2 .feature,
.estimateNew .features-3 .feature {
  margin-bottom: 40px;
}

@media all and (max-width: 767px) {
  .estimateNew .features-2 {
    padding: 40px 0 20px 0;
  }

  .estimateNew .features-2 .row:first-of-type,
  .estimateNew .estimateNew .features-3 .row:first-of-type {
    margin-bottom: 40px;
  }

  .estimateNew .features-2 img {
    margin-bottom: 13.33333333px;
  }
}

/*FRONTPAGE CUBES CODE*/
.estimateNew .wrapper {
  overflow: hidden;
  position: relative;
}

.estimateNew .wrapper .text {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(42, 98, 106, 0.61);
  visibility: hidden;
  padding: 20px;
  opacity: 0;
  transition: opacity 1.5s;
  transition-timing-function: ease;

}

.estimateNew .bulletPoints {
  list-style: disc;
  margin: 10px;
  line-height: 30px;
  ;
}

.estimateNew .innerBorder {
  border: solid 1px #ffffff;
  height: 100%;
  padding-top: 40%;
}

.estimateNew .wrapper .textHover {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 20%;
  background: rgba(42, 98, 106, 0.61);
  overflow: hidden;
  visibility: visible;
  opacity: 1;
  transition: opacity 2s;
  transition-timing-function: ease;
}

.estimateNew .wrapper:hover .text {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s;
  transition-timing-function: ease;

}

.estimateNew .wrapper:hover div.hover {
  transition: 2.3s;
}

.estimateNew div .hover {
  transition: 1.5s;
}

.estimateNew .wrapper:hover .textHover {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s;
}

.estimateNew .wrapper:hover .hover {
  background-size: 120% !important;
  transition: opacity 2s;
}

.estimateNew .wrapper:hover .hover.title {
  background-size: cover !important;
  transition: opacity 2s;
}

.estimateNew features-10 h4 {
  margin-bottom: 26.66666667px;
}

/* Title */

@import url(https://fonts.googleapis.com/css?family=Righteous);

.title {
  display: inline-block;
  color: rgb(17, 162, 247);
  font-family: 'Righteous', serif;
  font-size: 30px;
  text-shadow: .03em .03em 0 hsla(230, 40%, 50%, 1);
}

.title:after {
  content: attr(data-shadow);
  position: absolute;
  top: .06em;
  left: .06em;
  z-index: -1;
  text-shadow: none;
  background-image:
    linear-gradient(45deg,
      transparent 45%,
      hsla(48, 20%, 90%, 1) 45%,
      hsla(48, 20%, 90%, 1) 55%,
      transparent 0);
  background-size: .05em .05em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shad-anim 15s linear infinite;
}

@keyframes shad-anim {
  0% {
    background-position: 0 0
  }

  0% {
    background-position: 100% -100%
  }
}

/* END */

@media all and (max-width: 990px) {
  .features-10 div[class*='col-'] {
    width: 100% !important;
  }

  .features-10 .local-video-container,
  .estimateNew .features-10 video {
    max-width: 600px;
    margin: 0 auto;
  }

  .features-10 .local-video-container {
    margin-bottom: 40px;
  }
}

@media all and (max-width: 767px) {
  .features-10 .local-video-container {
    margin-bottom: 20px;
  }
}

/* Login */

.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}

@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
}